.body {
  flex: 0.8;
  height: 100vh;
  background: linear-gradient(rgb(84, 84, 84), rgb(0,0,0));
  color: white;
  padding: 30px;
  overflow-y: scroll;
  width: 100%;
}

.body__info {
  display: flex;
  align-items: flex-end;
}

.body__info-text > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__info-img {
  display: flex;
  height: 200px;
  width: 200px;
}