.body {
  height: 100vh;
  background: linear-gradient(rgb(84, 84, 84), #000000);
  color: white;
  overflow-y: overlay;
  width: 100%;
}

.body__top {
  padding: 14px 32px 20px 32px;
}

.body__info {
  display: flex;
  align-items: flex-end;
  margin: 40px 0 5px 0;
}

.body__info > img {
  display: flex;
  height: 18vw;
  min-height: 180px;
  margin-right: 20px;
  box-shadow: 0 0px 40px #333333;
}

.body__info-text > p{
  font-size: 14px;
  color: rgb(140, 140, 140)
}

.body__info-text > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__songs {
  background: #1E1E1E;
  padding: 17px 32px 0 32px;
  height: max-content;
}

.body__icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.icon-green {
  color: #1DB954;
}

.icon-green:hover {
  transform: scale(1.08);
}

.body__list {
  margin-top: 30px;
}

.body__list hr {
  background-color: rgb(179,179,179);
  border-color: rgb(179,179,179);
  color: rgb(179,179,179);
}

.body__song-header {
  display: flex;
  gap: 15px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  color: rgb(179,179,179);
}

.body__song-header p:nth-child(1) {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 3%;
}

.body__song-header p:nth-child(2) {
  width: 47%;
}

.body__song-header p:nth-child(3) {
  width: 25%;
}

.body__song-header p:nth-child(4) {
  width: 25%;
}