.header {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
}

.header__rigth {
  display: flex;
  background: #101010;
  border-radius: 20px;
  height: 28px;
  width: 176px;
  align-items: center;
  padding: 2px;
}

.header__rigth:hover {
  background-color: #404040;
}

.header__user-name {
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
}