.song-row {
  display: flex;
  padding: 8px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 15px;
  color: rgb(179,179,179);
}

.song-row:hover {
  color: white;
  background-color: #424242;
}

.song-row__number{
  width: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-row__info {
  font-size: 14px;
  display: flex;
  width: 47%;
  overflow: hidden;
}

.song-row__album {
  font-size: 14px;
  width: 25%;
  align-items: center;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-row__duration {
  font-size: 14px;
  width: 25%;
  align-items: center;
  display: flex;
}

.song-row__image {
  height: 40px;
}


.song-row__album-info{
  margin-left: 10px;
}

.song-row__album-info > h4{
  color: white;
}