.sidebar {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  min-width: 221px;
  background: black;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar__logo {
  margin-top: 13px;
  margin-left: 5px;
  margin-right: auto;
  height: 63.4px;
  margin-bottom: 13px;
}

.sidebar > hr {
  margin: 7px auto 4px auto;
  width: 90%;
  border-color: #282828;
}

.br {
  height: 24px;
}