.sidebar {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 221px;
  background: black;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar__logo {
  margin-top: 13px;
  margin-right: auto;
  height: 63.4px;
  margin-bottom: 13px;
}