.footer {
  background: #181818;
  position: fixed;
  display: flex;
  bottom: 0px;
  height: 90px;
  width: 100%;
  padding: 0px;
  border-top: 1px solid #282828;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.footer__album-logo {
  height: 56px;
  width: 56px;
  padding-right: 16px;
}

.footer__song-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.footer__song-info__name {
  color: #ffffff;
  font-size: 14px;
  position: left;
}

.footer__song-info__author {
  color: #b2b2b2;
  font-size: 12.5px;
}

.footer__center {
  color: #b2b2b2;
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__rigth {
  flex: 0.3;
  display: flex;
  gap: 20px;
  color: #b2b2b2;
  align-items: center;
  padding-right: 20px;
}

.footer__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  gap: 16px;
}

.footer__button:hover {
  color: white;
}

.footer__time-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10.5px;
  width: 94%;
  gap: 8px;
}

.footer_play-button {
  transform: scale(1.62);
  color: white;
}

.footer_play-button:hover {
  transform: scale(1.70);
  color: white;
}

.footer__progress-bar {
  width: 86%;
  background: #b2b2b2;
  height: 4px;
  border-radius: 100px;
}